<% content_for(:htmlTitle, "マイページ(#{@user.name}さん)") %>
<h1 class="c-pageTitle">マイページ<br><%= @user.name %>さん</h1>
<h2 class="c-subTitle">予約・マイリスト一覧</h2>

<% if @reservations.any? %>
  <div class="l-timeCard p-timeCard">
    <% tmpDay = 0 %>
    <% tmpMonth = 0 %>
    <% @reservations.each do |reservation| %>
      <%
        if reservation.start_date.day != tmpDay || reservation.start_date.month != tmpMonth
          tmpDay = reservation.start_date.day
          tmpMonth = reservation.start_date.month
      %>
        <h3 class="p-timeCard__date"><%= reservation.start_date.strftime("%Y年%m月%d日(#{%w(日 月 火 水 木 金 土)[reservation.start_date.wday]})") %></h3>
      <% end %>
        <a class="c-timeCard" href="<%= "/reservations/#{reservation.id}" %>">
          <div class="c-timeCard__time p-timeCard__time"><%= reservation.start_date.strftime("%H時%M分") %></div>
          <div class="c-timeCard__name p-timeCard__name"><%= reservation.name %> <%= "(マイリスト)" if @mylistReservations.include?(reservation) %></div>
        </a>
    <% end %>
  </div>
<% else %>
  <p class="c-centerText">予約とマイリストはありません</p>
<% end %>

<div class="p-btnWrap u-mt40">
  <%= link_to "戻る", :back, class: "c-button -outlineGray p-btnWrap__btn" %>
</div>