<h1>予約一覧</h1>
<p><%= @startDate.strftime("%Y年%m月%d日#{%w(日 月 火 水 木 金 土)[@startDate.wday]}曜日 %H時%M分") %></p>

<table border="1">
    <caption>予約表</caption>
    <thead>
      <tr>
        <th></th>
        <%
          # 変数定義 
          date = @startDate
          diffEndOfMonth = date.end_of_month.day - date.day + 1
        %>
        <% if diffEndOfMonth >= 7%>
          <th colspan="7"><%= date.strftime("%Y年%m月") %></th>
        <% elsif diffEndOfMonth >= 5%>
          <th colspan="<%= diffEndOfMonth %>"><%= date.strftime("%Y年%m月") %></th>
          <th colspan="<%= 7 - diffEndOfMonth %>"></th>
        <% elsif diffEndOfMonth >= 3%>
          <th colspan="<%= diffEndOfMonth %>"><%= date.strftime("%Y年%m月") %></th>
          <th colspan="<%= 7 - diffEndOfMonth %>"><%= date.weeks_since(1).strftime("%Y年%m月") %></th>
        <% else %>
          <th colspan="<%= diffEndOfMonth %>"></th>
          <th colspan="<%= 7 - diffEndOfMonth %>"><%= date.weeks_since(1).strftime("%Y年%m月") %></th>
        <% end %>
      </tr>
      <tr>
        <th>日時</th>
        <% for cnt in 0..6 do %>
          <% headerDay = @startDate.since(cnt.days) %>
          <th><%= headerDay.strftime("%e(#{%w(日 月 火 水 木 金 土)[headerDay.wday]})") %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <%
        date = @startDate
        for roopCnt in 1..8 do
      %>
        <tr>
          <th><%= date.strftime("%H:%M") %><br>|<br><%= date.since(90.minutes).strftime("%H:%M") %></th>
          <% for _ in 1..7 do %>
            <% if reservation = @reservations.find_by(start_date: date) %>
              <% if reservation.user_id == current_user.id %>
                <td><%= link_to "★", reservation_path(reservation) %></td>
              <% else %>
                <td><%= link_to "×", reservation_path(reservation) %></td>
              <% end %>
            <% else %>
              <td><%= link_to "◎", "/reservations/new/#{date.year}/#{date.month}/#{date.day}/#{date.hour}/#{date.min}" %></td>
            <% end %>
          <% date = date.tomorrow  %>
          <% end %>
        </tr>
      <% date = date.weeks_ago(1)  %>
      <% date = date.since(90.minutes)  %>
      <% end  %>
    </tbody>
  </table>
