<h1>予約一覧</h1>

<table border="1" class="l-table c-table p-reservationTable">
    <thead class="p-reservationTable__head">
      <tr>
        <th>年月</th>
        <%
          # 変数定義 
          date = @startDate
          diffEndOfMonth = date.end_of_month.day - date.day + 1
        %>
        <% if diffEndOfMonth >= 7%>
          <th colspan="7"><%= date.strftime("%Y年%m月") %></th>
        <% elsif diffEndOfMonth >= 5%>
          <th colspan="<%= diffEndOfMonth %>"><%= date.strftime("%Y年%m月") %></th>
          <th colspan="<%= 7 - diffEndOfMonth %>"></th>
        <% elsif diffEndOfMonth >= 3%>
          <th colspan="<%= diffEndOfMonth %>"><%= date.strftime("%Y年%m月") %></th>
          <th colspan="<%= 7 - diffEndOfMonth %>"><%= date.weeks_since(1).strftime("%Y年%m月") %></th>
        <% else %>
          <th colspan="<%= diffEndOfMonth %>"></th>
          <th colspan="<%= 7 - diffEndOfMonth %>"><%= date.weeks_since(1).strftime("%Y年%m月") %></th>
        <% end %>
      </tr>
      <tr class="p-reservationTable__weekRow" id="p-reservationTable__weekRow">
        <th class="p-reservationTable__weekDataHeader">日時</th>
        <% for cnt in 0..6 do %>
          <% headerDay = @startDate.since(cnt.days) %>
          <th class="c-week <%= "-saturday" if headerDay.saturday? %> <%= "-sunday" if headerDay.sunday? %> p-reservationTable__weekData">
            <%= headerDay.strftime("%e") %>
            <br>
            <%= headerDay.strftime("(#{%w(日 月 火 水 木 金 土)[headerDay.wday]})") %>
          </th>
        <% end %>
      </tr>
    </thead>
    <tbody class="p-reservationTable__body">
      <%
        date = @startDate
        for roopCnt in 1..8 do
      %>
        <tr>
          <th class="c-bodyHeader p-reservationTable__bodyHeader"><%= date.strftime("%H:%M") %><br>|<br><%= date.since(90.minutes).strftime("%H:%M") %></th>
          <% for _ in 1..7 do %>
            <% if reservation = @reservations.find_by(start_date: date) %>
              <% if reservation.user_id == current_user.id %>
                <td class="p-reservationTable__data">
                  <%= link_to reservation.name, reservation_path(reservation), class: "p-reservationTable__link -yours" %>
                </td>
              <% else %>
                <td class="p-reservationTable__data">
                  <%= link_to reservation.name, reservation_path(reservation), class: "p-reservationTable__link -reserved" %>
                </td>
              <% end %>
            <% else %>
              <td class="p-reservationTable__data -vacant">
                <%= link_to "◎", "/reservations/new/#{date.year}/#{date.month}/#{date.day}/#{date.hour}/#{date.min}", class: "p-reservationTable__link -vacant" %>
              </td>
            <% end %>
          <% date = date.tomorrow  %>
          <% end %>
        </tr>
      <% date = date.weeks_ago(1)  %>
      <% date = date.since(90.minutes)  %>
      <% end  %>
    </tbody>
  </table>
