<h1>予約する</h1>

<% if @reservation.errors.any? %>
  <ul class="c-errorBox">
    <% @reservation.errors.full_messages.each do |message| %>
      <li class="c-errorBox__test"><%= message %></li>
    <% end %>
  </ul>
<% end %>


<p><%= @reservation_time.strftime("%Y年%m月%d日#{%w(日 月 火 水 木 金 土)[@reservation_time.wday]}曜日") %></p>
<p><%= @reservation_time.strftime("%H時%M分") %></p>

<%= form_with url: "/reservations/new/#{params[:year]}/#{params[:month]}/#{params[:day]}/#{params[:hour]}/#{params[:minute]}",
              class: "p-userForm__formWrap", local: true do |form| %>
  <%= form.hidden_field :year, value: params[:year] %>
  <%= form.hidden_field :month, value: params[:month] %>
  <%= form.hidden_field :day, value: params[:day] %>
  <%= form.hidden_field :hour, value: params[:hour] %>
  <%= form.hidden_field :minute, value: params[:minute] %>

  <div class="p-userForm__inputWrap">
    <%= form.label :name, "バンド名or氏名:", class: "p-userForm__label" %>
    <%= form.text_field :name, class: "p-userForm__input" %>
  </div>
    
  <%= form.submit "登録する", class: "c-button -blue p-userForm__btn" %>
<% end %>