<%= javascript_pack_tag 'reservation' %>
<input type="hidden" value="<%= current_user.name %>" id="currentUserName">

<h1 class="c-pageTitle">予約する</h1>

<div class="c-formBox l-userForm">
  <% if @reservation.errors.any? %>
    <ul class="c-errorBox">
      <% @reservation.errors.full_messages.each do |message| %>
        <li class="c-errorBox__test"><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <%= form_with url: "/reservations/new/#{params[:year]}/#{params[:month]}/#{params[:day]}/#{params[:hour]}/#{params[:minute]}",
                class: "p-reservationForm", local: true do |form| %>

    <%= form.hidden_field :year, value: params[:year] %>
    <%= form.hidden_field :month, value: params[:month] %>
    <%= form.hidden_field :day, value: params[:day] %>
    <%= form.hidden_field :hour, value: params[:hour] %>
    <%= form.hidden_field :minute, value: params[:minute] %>
    
    <table class="p-reservationForm__table">
      <tbody class="p-reservationForm__tableBody">
        <tr class="p-reservationForm__row">
          <th class="p-reservationForm__header">予約日程</th>
          <td class="p-reservationForm__data"><%= @reservation_time.strftime("%Y年 %m月%d日(#{%w(日 月 火 水 木 金 土)[@reservation_time.wday]})") %></td>
        </tr>
        <tr class="p-reservationForm__row">
          <th class="p-reservationForm__header">時間</th>
          <td class="p-reservationForm__data"><%= @reservation_time.strftime("%H時%M分") %> 〜 <%= @reservation_time.since(90.minutes).strftime("%H時%M分") %></td>
        </tr>
        <tr class="p-reservationForm__row">
          <th class="p-reservationForm__header"><%= form.label :name, "バンド名or氏名", class: "" %></th>
          <td class="p-reservationForm__data -withBtn">
            <%= form.text_field :name, class: "p-reservationForm__input -withBtn", id: "nameField", value: "" %>
            <button type="button" id="autoInputNameButton" class="p-reservationForm__smallBtn">自動入力</button>
          </td>
        </tr>
      </tbody>
    </table>
      
    <%= form.submit "登録する", class: "c-button -blue p-reservationForm__btn" %>
  <% end %>
</div>