<%= javascript_pack_tag 'reservation' %>
<h1 class="c-pageTitle">予約確認</h1>

<% startDate = @reservation.start_date %>

<div class="c-formBox l-reservationForm">
  <table class="p-reservationForm__table">
    <tbody class="p-reservationForm__tableBody">
      <tr class="p-reservationForm__row">
        <th class="p-reservationForm__header">予約日程</th>
        <td class="p-reservationForm__data"><%= @reservation.start_date.strftime("%Y年 %m月%d日(#{%w(日 月 火 水 木 金 土)[@reservation.start_date.wday]})") %></td>
      </tr>
      <tr class="p-reservationForm__row">
        <th class="p-reservationForm__header">時間</th>
        <td class="p-reservationForm__data"><%= @reservation.start_date.strftime("%H時%M分") %> 〜 <%= @reservation.start_date.since(90.minutes).strftime("%H時%M分") %></td>
      </tr>
      <tr class="p-reservationForm__row">
        <th class="p-reservationForm__header">予約名</th>
        <td class="p-reservationForm__data"><%= @reservation.name %></td>
      </tr>
      <tr class="p-reservationForm__row">
        <th class="p-reservationForm__header">予約者</th>
        <td class="p-reservationForm__data -nonePadding"><%= link_to @user.name, user_path(@user.id), class: "p-reservationForm__link" %></td>
      </tr>
    </tbody>
  </table>

  <% if current_user == @user %>
    <div class="p-btnWrap">
      <%= link_to "編集", edit_reservation_path(@reservation), class: "c-button -green p-btnWrap__btn" %>
      <button class="c-button -red p-btnWrap__btn" id="deleteBtn">予約削除</button>
      <!-- <%= link_to "予約削除", @reservation, method: :delete,  class: "c-button -red p-btnWrap__btn", data: { confirm: "本当に削除しますか?" } %> -->
    </div>
  <% end %>
</div>

<div class="p-modal" id="deleteModal">
  <p class="p-modal__text">予約を削除してもよろしいですか？</p>
  <div class="p-modal__buttonWrap">
    <button class="p-modal__modalBtn" id="overlayHiddenBtn">キャンセル</button>
    <%= link_to "削除する", @reservation, method: :delete, class: "p-modal__modalBtn -red" %>
  </div>
</div>