<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="スタジオの時間管理アプリです">
    <meta name="format-detection" content="telephone=no,address=no,email=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="noindex,nofollow">
    <title>StudioReservation</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="l-header p-header">
      <figure class="p-header__left">
        <a href="/" class="c-link"><img src="https://placehold.jp/50x50.png" alt="ロゴ画像(トップリンク)"></a>
      </figure>
      <nav class="p-header__right">
        <ul class="p-header__lists">
          <% if logged_in? %>
          <li class="p-header__item <%= '-selected' if current_page?(edit_user_path(id: current_user.id)) %>">
              <%= link_to "予約", reservations_path, class: "c-link p-header__link" %>
            </li>
            <li class="p-header__item <%= '-selected' if current_page?(edit_user_path(id: current_user.id)) %>">
              <%= link_to "個人情報", edit_user_path(id: current_user.id), class: "c-link p-header__link" %>
            </li>
            <li class="p-header__item">
              <%= link_to "ログアウト", logout_path, method: :delete, class: "c-link p-header__link" %>
            </li>
          <% else %>
            <li class="p-header__item <%= '-selected' if current_page?(root_path) %>">
              <%= link_to "TOP", root_path, class: "c-link p-header__link" %>
            </li>
            <li class="p-header__item <%= '-selected' if current_page?(new_user_path) %>">
              <%= link_to "新規登録", new_user_path, class: "c-link p-header__link" %>
            </li>
          <% end %>
        </ul>
      </nav>
    </header>

    <%# フラッシュメッセージ用 %>
    <% flash.each do |message_type, message| %>
      <%= content_tag(:p, message, class: "c-alertBox -#{message_type}") %>
    <% end %>

    <%# メイン %>
    <main class="l-main">
      <%= yield %>
    </main>

    <%# デバッグ %>
    <%= debug(params) if Rails.env.development? %>
    
  </body>
</html>
